
.About {
  display: flex;
  height: 200vh;
  width: 100%;
  background-color: #DADDD1;
  color: #2D4459;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.AboutMeTitle {
  font-size: calc(35px + 1.9vw);
  font-weight: 600;
  margin: 0 auto 0 auto;
  width: fit-content;
  height: fit-content;
  align-self: center;
  position: relative;
  z-index: 3;
}

.AboutMeTitleContainer {
  width: fit-content;
  height: fit-content;
  align-self: center;
  justify-self: center;
  position:relative;
  margin: 0 auto 0 auto;
}

.AboutMeContent {
  font-size: calc(12px + .8vw)  ;
  position: relative;
  /* color: #DADDD1 */
  font-weight: 400;
  width: 85%;
  height: fit-content;
  line-height: 1.7;
}


.AboutMeContainer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  height: 160vh;
  width: 90%;
}

.AboutMeSticky {
  position: sticky;
  width: 100%;
  height: fit-content;
}

.AboutTransitionContainer {
  overflow: hidden;
  height: 200vh;
  width: 100%;
  position: absolute;
}

.AboutTransition {
  position: absolute;
  width: 300%;
  height: 100vh;
  top: 100%;
  left: -50%;
  background-color: #2D4459;
}

.QuoteBox {
  width: 108%;
  height: 108%;
  position: absolute;
  left: -4%;
  top: -4%;
}

.AboutTitleBox {
  width: 115%;
  height: 125%;
  position: absolute;
  left: -6%;
  top: -12.5%;
  z-index: 1;
}

@media (orientation: landscape) {
  .AboutMeSticky {
    top: 30vh;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    align-items: center;
    justify-items: center;
  }
}

@media (orientation: portrait) {
  .AboutMeSticky {
    top:10vh;
  }

  .AboutMeContent {
    text-align: center;
    justify-self: center;
    margin: 2.5em auto 0 auto;
  }
}