
.About {
  display: flex;
  height: 200vh;
  width: 100%;
  background-color: #DADDD1;
  color: #2D4459;
  margin: 0;
  padding: 0;
}

.AboutMeTitle {
  font-size: calc(35px + 1.9vw);
  /* color: #DADDD1 */
  font-weight: 600;
  width: fit-content;
  height: fit-content;
}

.AboutMeContent {
  font-size: calc(12px + .8vw)  ;
  /* color: #DADDD1 */
  font-weight: 400;
  width: 85%;
  height: fit-content;
  line-height: 1.7;
}


.AboutMeContainer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 25vh auto 0 auto;
  height: 140vh;
  width: 90%;
}

.AboutMeSticky {
  position: sticky;
  width: 100%;
  height: fit-content;
}

@media (orientation: landscape) {
  .AboutMeSticky {
    top: 30vh;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    align-items: center;
    justify-items: center;
  }

  .AboutMeTitle {
    text-align: center;
  }
}

@media (orientation: portrait) {
  .AboutMeSticky {
    top:20vh;
  }

  .AboutMeTitle {
    margin: 0 auto 1em auto;
    text-align: center;
  }

  .AboutMeContent {
    text-align: center;
    justify-self: center;
    margin: auto;
  }
}