$dark-clr: #2D4459;
$offwhite-clr: #DADDD1;
$highlight-clr: #F2AA6B;

.Skills {
  width: 100%;
  height: 500vh;
  background-color: $dark-clr;
  margin: 0;
  position: relative;
}

.Skills__container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  width: 90%;
  height: 90%;
}

.Skills--sticky {
  position: sticky;
  width: 100%;
  height: fit-content;
  height: -moz-fit-content;
}

.Skills__title {
  height: fit-content;
  width: fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;
  justify-self: center;
  align-self: center;
  font-size: calc(45px + 2.1vw);
  margin: 0 auto 0 auto;
  font-weight: 600;
}


.Skills__animation__container{
  position: absolute;
  width: 100%;
  height: 500vh;
}

.Skills__animation {
  position: sticky;
}


@media (orientation: landscape) {
  .Skills--sticky {
    top: 10vh;
  }

  .Skills__animation {
    top: 10vh;
    width: 50vw;
    height: 50vw;
    left: 50vw - 25vw;
  }
}

@media (orientation: portrait) {
  .Skills--sticky {
    top:5vh;
  }

  .Skills__animation {
    top: 15vh;
    left: 50vw - 40vw;
    width: 100vw;
    height: 100vw;
  }
}