$dark-clr: #2D4459;
$offwhite-clr: #DADDD1;
$highlight-clr: #F2AA6B;

.Skills {
  width: 100%;
  height: 900vh;
  background-color: $dark-clr;
  margin: 0;
  position: relative;
}

.Skills__container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  width: 90%;
  height: 100%;
}

.Skills--sticky {
  position: sticky;
  width: 100%;
  height: fit-content;
  height: -moz-fit-content;
}

.Skills__title {
  height: fit-content;
  width: fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;
  justify-self: center;
  align-self: center;
  font-size: calc(45px + 2.1vw);
  font-weight: 600;
}

.Skills__list {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: a;
  overflow: hidden;
}

.Skills__list__title {
  height: fit-content;
  font-size: calc(20px + .1vw);
  font-weight: 600;
}

.Skills__list__design,
.Skills__list__motion,
.Skills__list__dev {
  display:grid;
  position: absolute;
  grid-auto-rows: min-content;
  row-gap : .6em;
  top: 50%;
  left: 50%;
  height: fit-content;
  width: 80%;
  justify-items: center;
}

.Skills__list__design__container{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 3fr 1fr;
  column-gap: .4em;
  row-gap: .4em;
  justify-items: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
}

.Skills__list__motion__container{
  display: grid;
  grid-template-columns: 25% 25%;
  grid-auto-rows: min-content;
  column-gap: .4em;
  row-gap: .4em;
  justify-items: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
}

.Skills__list__dev__container{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-auto-rows: min-content;
  column-gap: .4em;
  row-gap: .4em;
  justify-items: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
}

.Skills__content__container {
  margin: 0 auto 0 auto;
  height: 80vh;
  display: grid;
  position: sticky;
  top: 15vh;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.Skills__svg {
  width: 80%;
  height: 80%;
}

.Skills__animation__container {
  grid-area: b;
}

.Skills__list__descriptions {
  font-size: calc(12px + .05vw);
  font-weight: 200;
}

@media (orientation: landscape) {
  .Skills__title {
    margin: 20vh auto 0 auto;
  }

  .Skills--sticky {
    top: 10vh;
  }

  .Skills__content__container {
    width: 80%;
    grid-template-areas: "a b";
    grid-template-columns: 1fr 2fr;
  }

  .Skills__animation__container{
    width: 70%;
    height: 70%;
  }
}

@media (orientation: portrait) {
  .Skills__title {
    margin: 5vh auto 0 auto;
  }

  .Skills--sticky {
    top:5vh;
  }

  .Skills__content__container {
    width: 100%;
    grid-template-areas: 
      "a"
      "b";
    grid-template-rows: 1.8fr 2fr;
  }

  .Skills__animation__container{
    width: 90%;
    height: 90%;
  }
}