@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
  margin-top:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #070707;
}

.TitleCard {
  display: flex;
  height: 100vh;
  width: 100%;
  user-select: none;
  background-color: #ebebeb;
}

.Content1 {
  display: flex;
  height: 100vh;
  width: 100%;
  user-select: none;
  background-color: #e04b4b;
}

.HelloText {
  position: relative;
}

@media (orientation: landscape) {
  .HelloText {
    margin: 5% 35% 4% 15%;
    height: fit-content;
  }

  .Orbit {
    width: 80vw;
    height: 80vw;
    position: absolute;
    right: -40vw;
    bottom: -30vw;
  }
}

@media (orientation: portrait) {
  .HelloText {
    margin: 20% 10% 10% 10%;
  }
  .Orbit {
    width: 180vw;
    height: 180vw;
    position: absolute;
    bottom: -100vw;
    left: -42vw;
  }
}

.HelloName {
  font-size: calc(45px + 2vw);
  font-weight: 700;
  width: fit-content;
  margin: 0 0 .2em 0;
  filter: invert(1);
  mix-blend-mode: difference;
}

.HelloContainer {
  position: relative;
}

.WorkSkill {
  font-size: calc(16px + 1.3vw);
  font-weight: 400;
  margin: .01em 0 .01em 0;
  overflow: hidden;
  height: 1.2em;
}

.SkillList {
  width: fit-content;
  display: inline-flex;
  white-space:pre;
}

.TextHighlight {
  box-sizing: border-box;
  position: absolute;
  top: -3%;
  background-color: #070707;
}

.TextHighlight2 {
  box-sizing: border-box;
  position: absolute;
  top: -3%;
  background-color: #836060;
}

.TransitionContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.TransitionBox1 {
  position: absolute;
  top: 100%;
  width: 300%;
  height: 300%;
  background-color: #e04b4b;
}

.TransitionBox2 {
  position: absolute;
  top: 100%;
  width: 300%;
  height: 300%;
  right: 0%;
  background-color: #e04b4b;
}

.ScrollArrow {
  width: 10vh;
  height: 10vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 5%;
  left: 0;
  right:0;
}